.header {
    height: 6.5rem;

    .wrap{
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;

        .logo{
            width: 6rem; 
            position: absolute;
            top: 60%; left: 20px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            img{
                display: block;
                width: 100%;
                margin: 0;
            }
        }

        .callToActions {
            position: absolute;
            top: 30%; right: 10px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(50%);
            transform: translateY(50%);

            ul, li{
                margin: 0;
                padding: 0;
            }

            li{
                list-style-type: none;

                a{
                    font-size: 1.8rem;
                    line-height: 1;
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
    
        }
    }
}